//animation //
@keyframes scrolling {
    0% {
        transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
        transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
}

@mixin fontTitle{
    text-align: center;
    font-size: 1.8rem;
    color: $main_color-brown;
}

//variables de couleur //
$main_color-brown: rgb(160, 113, 86);
$main_color-cream:rgb(224, 190, 157);

body{
    box-sizing: border-box;
}

.navbar {
    background-color: $main_color-brown;
    padding:0!important;
    & .navbar-toggler{
        background-color: #fff;
        justify-content: flex-end!important;
        &:focus{
            box-shadow:  0 0 0 ;
            border: 2px solid rgb(223, 173, 132)!important;
            border-radius: 8px;
        }
    }
    & .title{
        font-size: 2rem!important;
    }
    .navbar-nav{
        & .nav-link{
            color: #000;
            font-size: 1.3rem;
            &:hover{
                background: $main_color-brown;
                color:#fff!important;   
            }
        }
    }
}

//menu defilant
.scrolling_menu{
    max-width: 80%;
    margin: 1.5em auto 2em;
    border: 4px solid $main_color-cream;
    overflow: hidden;
    font-size:1.3rem;
    box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
    &> :first-child {
        display: inline-block;
        padding-right: 2em;
        padding-left: 100%;
        white-space: nowrap;
        animation: scrolling 24s infinite linear;
    }
    .scrolling_title{
        color: rgb(100, 66, 50);
        font-weight: 700;
    }
    .bullets{
        padding-left: 7px;
        padding-right: 7px;
    }
}

//page d'accueil //
.height{
    width: 100%;
    max-height: 22rem;;
    object-fit: cover;
}

.small_title{
    color: $main_color-brown;
}

.card{
    overflow: hidden;
    border: none;
    border-radius: 8px;
    object-fit: cover;
    & img{
        width: 230px;
        height: 260px;
        object-fit: cover;
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
        transition: transform 300ms;
        &:hover {
            filter: brightness(75%);
            -webkit-filter: brightness(75%);
            transform:scale(1.08);
        }
    }
    & .shirt{
        left:25%;
    }
    & .dress{
        left:35%;
    }
    & .items{
        left: 18%;
    }
}

//bas de page//
.footer{
    background-color: $main_color-brown;
    column-gap: 2rem;
    color: #fff!important;
    flex-direction: row;
    & .relance{
        width: 10rem;
        max-height: 6rem;
    }
    & .director{
        font-weight: 700;;
        column-gap:  2rem;
        & img{
            width:4rem;
            max-height: 3rem;
        }
        & a{
            color: #fff!important;
            text-shadow: 1px 1px 2px #000;
            text-decoration: none;
            font-weight: normal;
            &:hover{
                color: #000!important;
                text-shadow: 1px 1px 2px #000;
            }
        }
        & .law{
            margin-left: 5rem;
            font-size: 0.9rem!important;
            text-shadow: 0 0 0 #000;
            &:hover{
                color: #000!important;
            }
        }
    }
}

// page d acces //
.map{
    & h3{
        @include fontTitle;
    }
}

.info{
    & h2{
        color: $main_color-brown;
    }
    font-size:1.3rem!important
}

//page clothing.html
.scroll_to_top{
    bottom : 1rem;
    right: 0.6rem;  
    background-color: $main_color-cream;
}

//page law.html
.main_law{
    width: 100%;
    & .mentions{
        padding-top: 3rem;
        padding-left:3.5rem;
        & h1{
            padding-bottom: 2rem;
            color:rgb(83, 81, 81);
            text-shadow: 1px 1px 2px #000; 
        }
        & .font{
            font-weight: bold;
            margin-top: 1rem;
            margin-bottom: 1rem;
            color: rgb(83, 81, 81);
        }
    }
}

.return_home{
    justify-content: start;
    align-items: center;
    margin-top:3rem;
    margin-left:3rem;
    .link_home{
        text-decoration: none;
        color: rgb(92, 92, 92);
        text-shadow: 1px 1px 2px #000; 
        font-weight: bold;
        &:hover{
        color: #000;
        }
        .arrow{
            width:50px;
            margin-right: 1rem;
        }
    }
}

@media all and (max-width:400px){
    h1{
        font-size: 1.5rem!important;
    }
    .navbar-toggler{
        padding:0!important;
    }
}

@media all and (max-width:450px){
    .footer{
        flex-direction: column;
        & .relance{
            margin: auto;
        }
        & .copyright{
            font-size: 1rem;
        }
        & .law{
            margin-left: 0rem!important;
        }
    }
    h1{
        font-size: 1.8rem;
    }
    .main_law .mentions{
        padding-left:1rem;
        font-size: 1.2rem;
    }
    .return_home{
        margin-left:1rem;
    }
    .card{
        width: 180px;
    }
}

@media all and (max-width:600px){
    .footer{
        flex-direction: column;
        & .relance{
            margin: auto;
            margin-bottom: 0.5rem;
        }
        & .director{
            display: flex;
            & img{
                width:4.5rem;
                max-height: 2.5rem;
                margin: 0.5rem;
            }
        }
        & .law{
            color: rgb(223, 221, 221)!important;
        }
    }
    .mentions{
        padding-left:2rem;
    }
    .block{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
        text-align: center;
        & .relance{
            margin: 0.5rem auto;
        }
        & .director{
            display: flex;
            & img{
                width:4.5rem;
                max-height: 2.5rem;
            }
        }
        & .law{
            color: rgb(223, 221, 221)!important;
        }
    }
}


@media all and (min-width:750px){
    main{
        width:80%;
        margin:auto;
    }
    .height{
        width:80%;
        max-height: 23rem;
    }
    .block{
        column-gap: 2rem;
    }
}

@media all and (max-width: 992px){
    .navbar-nav .nav-link{
        padding: 0 0 0.5rem 10px!important;
    }
}

@media all and (min-width:1200px){
    main{
        width:85%;
        margin:auto;
    }
    .card{
        margin-right: 1rem;
    }
    .height{
        width: 65%;
        max-height: 30rem;
    }
    .scrolling_menu{
        max-width: 70%!important;
    }
    .product_shop img{
        width: 280px!important;
        height: 380px!important;
    }
    .info{
        font-size: 1.8rem!important;
    }
}

@media all and (min-width:1500px){
    main{
        width:85%;
        margin:auto;
    }
    .height{
        max-height: 33rem;
    }
}