@charset "UTF-8";
@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    /* position initiale à droite */
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    /* position finale à gauche */
  }
}
@keyframes scrolling {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    /* position initiale à droite */
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    /* position finale à gauche */
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  background-color: #a07156;
  padding: 0 !important;
}

.navbar .navbar-toggler {
  background-color: #fff;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.navbar .navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  border: 2px solid #dfad84 !important;
  border-radius: 8px;
}

.navbar .title {
  font-size: 2rem !important;
}

.navbar .navbar-nav .nav-link {
  color: #000;
  font-size: 1.3rem;
}

.navbar .navbar-nav .nav-link:hover {
  background: #a07156;
  color: #fff !important;
}

.scrolling_menu {
  max-width: 80%;
  margin: 1.5em auto 2em;
  border: 4px solid #e0be9d;
  overflow: hidden;
  font-size: 1.3rem;
  -webkit-box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
          box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
}

.scrolling_menu > :first-child {
  display: inline-block;
  padding-right: 2em;
  padding-left: 100%;
  white-space: nowrap;
  -webkit-animation: scrolling 24s infinite linear;
          animation: scrolling 24s infinite linear;
}

.scrolling_menu .scrolling_title {
  color: #644232;
  font-weight: 700;
}

.scrolling_menu .bullets {
  padding-left: 7px;
  padding-right: 7px;
}

.height {
  width: 100%;
  max-height: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.small_title {
  color: #a07156;
}

.card {
  overflow: hidden;
  border: none;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card img {
  width: 230px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.card img:hover {
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.card .shirt {
  left: 25%;
}

.card .dress {
  left: 35%;
}

.card .items {
  left: 18%;
}

.footer {
  background-color: #a07156;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  color: #fff !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .relance {
  width: 10rem;
  max-height: 6rem;
}

.footer .director {
  font-weight: 700;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.footer .director img {
  width: 4rem;
  max-height: 3rem;
}

.footer .director a {
  color: #fff !important;
  text-shadow: 1px 1px 2px #000;
  text-decoration: none;
  font-weight: normal;
}

.footer .director a:hover {
  color: #000 !important;
  text-shadow: 1px 1px 2px #000;
}

.footer .director .law {
  margin-left: 5rem;
  font-size: 0.9rem !important;
  text-shadow: 0 0 0 #000;
}

.footer .director .law:hover {
  color: #000 !important;
}

.map h3 {
  text-align: center;
  font-size: 1.8rem;
  color: #a07156;
}

.info {
  font-size: 1.3rem !important;
}

.info h2 {
  color: #a07156;
}

.scroll_to_top {
  bottom: 1rem;
  right: 0.6rem;
  background-color: #e0be9d;
}

.main_law {
  width: 100%;
}

.main_law .mentions {
  padding-top: 3rem;
  padding-left: 3.5rem;
}

.main_law .mentions h1 {
  padding-bottom: 2rem;
  color: #535151;
  text-shadow: 1px 1px 2px #000;
}

.main_law .mentions .font {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #535151;
}

.return_home {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  margin-left: 3rem;
}

.return_home .link_home {
  text-decoration: none;
  color: #5c5c5c;
  text-shadow: 1px 1px 2px #000;
  font-weight: bold;
}

.return_home .link_home:hover {
  color: #000;
}

.return_home .link_home .arrow {
  width: 50px;
  margin-right: 1rem;
}

@media all and (max-width: 400px) {
  h1 {
    font-size: 1.5rem !important;
  }
  .navbar-toggler {
    padding: 0 !important;
  }
}

@media all and (max-width: 450px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .relance {
    margin: auto;
  }
  .footer .copyright {
    font-size: 1rem;
  }
  .footer .law {
    margin-left: 0rem !important;
  }
  h1 {
    font-size: 1.8rem;
  }
  .main_law .mentions {
    padding-left: 1rem;
    font-size: 1.2rem;
  }
  .return_home {
    margin-left: 1rem;
  }
  .card {
    width: 180px;
  }
}

@media all and (max-width: 600px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .relance {
    margin: auto;
    margin-bottom: 0.5rem;
  }
  .footer .director {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .director img {
    width: 4.5rem;
    max-height: 2.5rem;
    margin: 0.5rem;
  }
  .footer .law {
    color: #dfdddd !important;
  }
  .mentions {
    padding-left: 2rem;
  }
  .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer .relance {
    margin: 0.5rem auto;
  }
  .footer .director {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .director img {
    width: 4.5rem;
    max-height: 2.5rem;
  }
  .footer .law {
    color: #dfdddd !important;
  }
}

@media all and (min-width: 750px) {
  main {
    width: 80%;
    margin: auto;
  }
  .height {
    width: 80%;
    max-height: 23rem;
  }
  .block {
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

@media all and (max-width: 992px) {
  .navbar-nav .nav-link {
    padding: 0 0 0.5rem 10px !important;
  }
}

@media all and (min-width: 1200px) {
  main {
    width: 85%;
    margin: auto;
  }
  .card {
    margin-right: 1rem;
  }
  .height {
    width: 65%;
    max-height: 30rem;
  }
  .scrolling_menu {
    max-width: 70% !important;
  }
  .product_shop img {
    width: 280px !important;
    height: 380px !important;
  }
  .info {
    font-size: 1.8rem !important;
  }
}

@media all and (min-width: 1500px) {
  main {
    width: 85%;
    margin: auto;
  }
  .height {
    max-height: 33rem;
  }
}
/*# sourceMappingURL=style.css.map */